.u-section-1 .u-sheet-1 {
  min-height: 563px;
}

.u-section-1 .u-image-1 {
  width: 174px;
  height: 96px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 24px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Aguafina Script";
  font-size: 3rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-opacity: 0;
  margin: 24px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-1 .u-image-2 {
  width: 174px;
  height: 174px;
  background-image: url("images/beyond_logo.png");
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-3 {
  width: 209px;
  height: 209px;
  background-image: url("images/brj-1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 132px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 125px;
  }
}